@import "base/mixins";
@import "base/variables";

html {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-size: 100%;
    @include for-size($m-device){
        font-size: 95%;
    }
    @include for-size($s-device){
        font-size: 90%;
    }
}

@import "layout/container";
@import "layout/promo";
@import "layout/header";
@import "layout/advantages";

@import "components/btn";
@import "components/underlined-link";
@import "components/header-section";