.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 15.625rem;
        img{
            width: 100%;
        }
    }
    &__officials{
        color: #ffffff;
        font-size: 0.75rem;
        font-weight: normal;
        text-align: center;
        span{
            display: block;
            font-size: 1.125rem;
        }
    }
    &__number {
        display: block;
        color: #ffffff;
        font-size: 1.125rem;
        &:hover{
            color: #ffffff;
            text-decoration: none;
        }
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    @include for-size($s-device){
        &__officials{
            display: none;
        }
    }
}