.comment{
    display: flex;
    &__image{
        width: 10.56rem;
        height: 10.56rem;
        margin-right: 60px;
    }
    &__name{
        color: #0d0d0d;
        font-size: 1.125rem;
        font-weight: 700;
    }
    &__achivment{
        margin-top: 10px;
        color: #646464;
        font-size: 0.825rem;
        font-weight: 300;
    }
    &__text{
        margin-top: 19px;
    }
    @include for-size($s-device){
        padding-right: 0;
        &__image{
            align-self: center;
            margin-right: 30px;
        }
        &__achivment{
            margin-top: 5px;
        }
        &__text{
            margin-top: 10px;
        }
    }
}